:root {
    --div-color: #2551FF;
}

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
    padding: unset;
}

body {
    margin: 0 auto;
    width: 90%;
    font-family: 'Fira Code', monospace;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.7em 0;
}
 

/* show code*/
main { 
    display: flex;
}
.main-code {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.js-code {
    height: 45vh;
    font-size: 2em;
}
.js-code textarea { 
    height: 45vh;
    width: 50vw;
}
.jquery-code {
    height: 45vh;
}
.jquery-code textarea { 
    height: 45vh;
    width: 50vw;
}
/* result */
.main-result {
    margin: auto 0;
    width: 50vw;
}
.result-container {
    margin: 0 auto;
}

/* div for testing */
.result-test-div {
    background-color: var(--div-color);
    border: 2px solid;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.5em;
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 70%;
    border-radius: 10px;

}
