:root {
    --div-color: #2551FF;
}

* {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
    text-decoration: unset;
    color: unset;
    padding: unset;
}

body {
    margin: 0 auto;
    width: 90%;
    font-family: 'Fira Code', monospace;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0.7em 0;
}
 

/* show code*/
main { 
    display: flex;
}
.main-code {
    display: flex;
    flex-direction: column;
    flex: 1;
}
form {
    font-family: 'Fira Code', monospace;
}
form label {
    font-size: 1em;
    font-weight: bold;
}
form select {
    font-size: 1em;
    padding: 1em;
}
form input {
    padding: 1em;
    font-size: 1em;

}
.js-code {
    height: 45vh;
}
.js-code textarea { 
    height: 45vh;
    width: 50vw;
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
}
.jquery-code {
    height: 45vh;
}
.jquery-code textarea { 
    height: 45vh;
    width: 50vw;
    font-family: 'Fira Code', monospace;
    font-size: 0.9em;
}
/* result */
.main-result {
    margin: auto 0;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.result-container {
    border-bottom: 2px solid black;
    height: 45vh;
    margin: 0 auto;
}
.result-container p {
    vertical-align: middle;
}

/* div for testing */
.result-test-div {
    background-color: var(--div-color);
    border: 2px solid;
    font-size: 1.5em;
    font-weight: bold;
    padding: 1.5em;
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 70%;
    border-radius: 10px;
}

/* no select  */
.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
